body {
    background-color: #f0f0f2;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
div {
    background-color: #fff;
    border-radius: 1em;
    margin: 5em auto;
    padding: 50px;
    text-align: center;
    width: 600px;
}
input[type=submit] {
    background-color: #000080;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
}
