body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div {
    width: 600px;
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
}
a:link,
a:visited {
    color: #38488f;
    text-decoration: none;
}
@media (max-width: 700px) {
    body {
        background-color: #fff;
    }
    div {
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 1em;
    }
}
body {
    background: #fff !important;
}
.wrapper {
    margin-top: 80px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .form-signin-heading, .checkbox {
        margin-bottom: 30px;
    }
    .checkbox {
        font-weight: normal;
    }
    .registrate {
        font-weight: lighter;
        color: #FFF;
    }
    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        @include box-sizing(border-box);
        &:focus {
            z-index: 2;
        }
    }
    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .btn-primary {
        background-color: # !important;
        border-color: #;
    }
}
#enlaceRecuperarContrasena {
    color: #1f04ea;
    font-size: 12px;
}
input[type=submit] {
    background-color: #000080;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 7px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
